 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2 text-center" style="text-align: justify">
                    <p>Hey there! My name is Leon. Originally I come from Germany, but I try to travel around the globe as much as I can.</p>

                    <p>I am a <b>3D software developer</b> with an aptitude for <b>XR development.</b> <b><a style="text-decoration: underline" class="active-variant" href="#portfolio">Here</a></b> you can find a selection of projects (and games) I have worked on.</p>
                    
                    <p>Currently I am in the final year of my Game Engineering studies at Saxion in the Netherlands.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-0" style="text-align: justify">
                    <p class="text-center">Apart from coding I enjoy these things:</p>
                    <ul class="dashed" style="text-align: left">
                        <li>I am an avid <b>Traveller</b> and love <b>meeting new people</b>. Countries I've lived in/been to to include:
                        <ul class="dashed">
                            <li>Netherlands</li>
                            <li>Denmark</li>
                            <li>Indonesia</li>
                            <li>Japan</li>
                        </ul>
                        </li>
                        <li>I love <b>Cooking</b> all kinds of exotic recipies that I learn during my travels</li>
                        <li>I also practice <b>Martial Arts</b></li>
                    </ul> 
                </div>
            </div>
        </div>
    </section>
