 <!-- About Section -->
    <section class="success" id="work_experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Work Experience</h2>
                    <hr class="star-light">
                </div>
            </div>
            <br>
            <!-- NapNok -->
            <div class="row">
                <div class="col-lg text-center">
                    <h3>Intern Programmer</h3>
                    <p><strong>Unity3D | VR Development | C# Development</strong></p>
                    <p>I worked on an internal Multiplayer VR FPS with revolutionary movement mechanics</p>       
                </div>   
                <br>
                <div class="row">
                        <div class="col-lg-6 text-center">
                            <p><strong>Company:</strong><a class="active-variant" href="http://napnokgames.com/"> NapNok Games</a></p>
                        </div>  
                        <div class="col-lg-6 text-center">
                                <p><strong>Period:</strong> September 2018 - February 2019</p>
                        </div>                
                </div>             
            </div>
            
            <div class="separator"></div>
            <!-- Freelancing -->
            <div class="row">
                <div class="col-lg text-center">
                    <h3>Freelance Software Developer</h3>
                    <p><strong>Software Development | XR Development | Custom Solutions</strong></p>
                    <p>After acquiring enough skills I started my own Freelance business, specialising in 3D Software Development, with experience in XR.</p>       
                </div>
                <br> 
                <div class="row">
                        <div class="col-lg-6 text-center">
                            <p><strong>Company:</strong><a class="active-variant" href="#page-top"> Self-Employed</a></p>
                        </div>  
                        <div class="col-lg-6 text-center">
                                <p><strong>Period:</strong> September 2019 - Present</p>
                        </div>                
                    </div>
                </div>
            </div>    
    </section>
